@font-face {

	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');

} 

@font-face {

	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');

}

@font-face {

	font-family: 'Calibri';
	src: url('../fonts/Calibri.ttf');

}

@font-face {

	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');

}

@font-face {

	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');

}

@font-face {

	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');

}

@font-face {

	font-family: 'Bebas';
	src: url('../fonts/BebasNeue Bold.otf');

}

@font-face {

	font-family: 'Avenir';
	src: url('../fonts/Avenir.otf');

}

@font-face {

	font-family: 'Avenir-Thin';
	src: url('../fonts/Avenir-Thin.otf');

}

@font-face {

	font-family: 'Avenir-Bold';
	src: url('../fonts/Avenir-Bold.otf');

}